*.pth
**/*.png
**/*.jpg
**/*.mp4
**/*.pdf
What to test
__pycache__/
old/
camera_calibration/No_Bells_Just_Whistles/SV_kp
camera_calibration/No_Bells_Just_Whistles/SV_lines
camera_calibration/evaluation/inferences*
Dataset/Images/
Dataset/Labels/
Dataset/Labels_source/
SoccerNetGS/
ffmep.txt
!FRS-FNRS_BLACK_transp_resized.png
!FRS-FNRS_rose_transp_resized.png
!SoccerNet_resized.png
!University_of_Liège_logo_resized.png
.vscode
video/
*.zip
*.ipynb
!Dataset/*.ipynb
*.sbatch
*.log
*.JPG
*.jpeg
*.webm
semantic_segmentation/metrics/*.txt
!semantic_segmentation/work_dirs/**/*.log
camera_calibration/evaluation/data
work_dir*
!semantic_segmentation/work_dirs
