*.pth
**/*.png
**/*.jpg
**/*.mp4
What to test
__pycache__/
old/
camera_calibration/No_Bells_Just_Whistles/SV_kp
camera_calibration/No_Bells_Just_Whistles/SV_lines
camera_calibration/evaluation/inferences*
Dataset/
SoccerNetGS/
ffmep.txt
!FRS-FNRS_BLACK_transp_resized.png
!FRS-FNRS_rose_transp_resized.png
!SoccerNet_resized.png
!University_of_Liège_logo_resized.png
.vscode
video/
*.zip
